body {
  margin: 0;
  padding: 0;
  background-image: url("../assets/fondo.gif");
  background-size: cover;
}

nav {
  background: rgba(8, 16, 29, 0.4);
  padding: 0%;
  display: inline-flex;
  width: 100%;
  border-top: 2px solid #7a5400;
  align-items: center;
  box-sizing: border-box;
  backdrop-filter: blur(20px);
  height: 100px;
}
nav .nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 350px);
  height: 100%;
}
nav .nav-left {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-left: 20px;
}
nav .nav-right {
  display: flex;
  align-items: center;
  height: 100%;
}
nav .barra-nav,
nav .barra-nav-select {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #fff1b4;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px 0 16px;
  overflow: hidden;
  cursor: pointer;
  letter-spacing: 1.5px;
  transition: background 0.4s, color 0.4s;
}
nav .barra-nav {
  padding-left: 2%;
}
nav .barra-nav-select::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--mouse-x, 50%);
  transform: translateX(-50%);
  width: 45px;
  height: 35px;
  pointer-events: none;
  background: radial-gradient(ellipse at center bottom, rgba(255, 241, 180, 0.95) 0%, rgba(255, 241, 180, 0.4) 40%, rgba(255, 241, 180, 0) 100%);
  opacity: 0;
  transition: opacity 0.4s;
  z-index: 2;
  border-radius: 100px 100px 3px 3px/120px 120px 100px 100px;
  filter: blur(5px);
  top: 70px;
}
nav .barra-nav-select::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(8, 16, 29, 0) 50%, #fff1b4 170%);
  opacity: 0;
  transition: opacity 0.5s;
}
nav .barra-nav-select:hover::after {
  opacity: 1;
}
nav .barra-nav-select:hover::before {
  opacity: 1;
}
nav .barra-nav:hover::before {
  opacity: 1;
}
nav .selected {
  color: #fffbe8;
  background: linear-gradient(rgba(8, 16, 29, 0) 50%, #fff1b4 170%);
}
nav .flechita {
  width: 25px;
  height: 25px;
  clip-path: polygon(0% 0%, 35% 0, 50% 20%, 65% 0, 100% 0%, 50% 60%);
  background: linear-gradient(#7a5400 20%, rgb(255, 213.5737704918, 122) 90%);
  position: absolute;
  top: 0;
  z-index: 1;
}
nav .flechita::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #08101D;
  z-index: 3;
  clip-path: polygon(10% 0, 25% 0, 50% 30%, 75% 0, 90% 0, 50% 50%);
  pointer-events: none;
}
nav .lista-nav {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: start;
}
nav #lor {
  letter-spacing: 1.5px;
  background: linear-gradient(#fff1b4, 50%, #7a5400 100%);
  height: 35%;
  width: 20%;
  padding: 0 3% 0 3%;
  border-radius: 30px;
  z-index: 2;
  margin-left: 8%;
}
nav #lor svg {
  width: 75px;
  height: 75px;
}
nav #lor::before {
  content: "";
  inset: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  position: absolute;
  background: linear-gradient(#7a5400 40%, rgb(71, 48.8852459016, 0) 120%);
  z-index: -1;
  border-radius: 30px;
}
nav #arrow-right {
  margin-left: 3px;
  rotate: 315deg;
  color: white;
}
nav .inf-system {
  position: relative;
  border: 6px double #08101D;
  border-radius: 50%;
  width: 40px;
  height: 35px;
  margin-left: 2%;
  background-color: rgb(8.2487437186, 201.5050251256, 226.2512562814);
  font-size: large;
  font-weight: 800;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: aliceblue;
  cursor: pointer;
  z-index: 1;
}
nav .inf-system:hover {
  box-shadow: inset 0 2px 8px #b6f0ff;
}
nav .inf-system::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(8, 16, 29, 0) 35%, #08101D 120%);
  width: 150%;
  height: 150%;
  z-index: 2;
  top: -25%;
  left: -25%;
  border-radius: 50%;
}

.nav2 {
  background-color: #08101D;
}

#logo {
  position: absolute;
  z-index: 2;
  top: -4.5px;
  left: -19.5%;
  width: 51px;
  filter: contrast(1.1);
}

.play-button {
  background-color: #343c42;
  color: #ffffff;
  padding: 8px 45px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: none;
  clip-path: polygon(0% 20%, 0 0, 84% 0%, 98% 50%, 84% 100%, 0 100%, 0% 80%);
}

.dentro {
  position: relative;
  background: linear-gradient(to bottom, #3fe3f8 20%, #0b90a1 50%, #0b8a9b);
  clip-path: polygon(0% 20%, 0 0, 84% 0%, 100% 50%, 84% 100%, 0 100%, 0% 80%);
  padding: 3px;
  z-index: 2;
}
.dentro::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, rgba(63, 227, 248, 0.2) 0%, rgb(163, 250, 253) 50%, rgba(63, 227, 248, 0.2) 100%);
  opacity: 0;
  pointer-events: none;
  z-index: 0;
  background-size: 200% 100%;
  background-position: -100% 0;
}
.dentro:hover::before {
  opacity: 1;
  animation: brillo-move 1.2s linear infinite;
}

@keyframes brillo-move {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.bordes {
  display: flex;
  margin-left: 5%;
  border: solid 1px rgba(133, 111, 12, 0.7725490196);
  position: relative;
  padding: 3px;
  width: fit-content;
  background-color: #08101D;
  z-index: 1;
}
.bordes .borde-dificil {
  position: absolute;
  left: -7%;
  top: 6%;
  width: 25%;
  height: 89%;
  z-index: 1;
  border-radius: 50%;
  /* box-shadow: 3.5px 0px $primary-color; */
  background: linear-gradient(to bottom, #3fe3f8 20%, #0b90a1 50%, #0b8a9b);
  clip-path: inset(0 -10% 0 30%);
}
.bordes .borde-dificil::before {
  content: "";
  inset: 0;
  top: 1.5px;
  position: absolute;
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  background: #08101D;
  border-radius: 50%;
  z-index: -1;
}
.bordes .borde-dentro {
  position: relative;
  width: 100%;
  z-index: 0;
  /* &:hover~.borde-dificil {

  } */
}
.bordes .borde-dentro::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 3px solid rgba(21, 93, 102, 0.8078431373);
  pointer-events: none;
  z-index: 0;
}

@keyframes box-shadow {
  0% {
    box-shadow: 3.5px 0px #b7ebf1;
  }
  100% {
    box-shadow: 3.5px 0px #3fe3f8;
  }
}
.perfil {
  display: flex;
  align-items: center;
  margin-left: auto;
  background-color: #08101D;
  gap: 10px;
  height: 100px;
  width: 350px;
}
.perfil .experincia {
  width: 65px;
  height: 65px;
  border: rgb(124, 95, 0) 3px solid;
  border-radius: 100%;
  margin: 10px;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: conic-gradient(from 180deg, rgb(8.2487437186, 201.5050251256, 226.2512562814) calc(var(--percent) * 1%), rgb(30.0540540541, 60.1081081081, 108.9459459459) calc(var(--percent) * 1%));
}
.perfil .experincia:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  border: rgb(175, 134.0725806452, 0) 3px solid;
}
.perfil .experincia:hover > .icon-user::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  border: rgb(175, 134.0725806452, 0) 3px solid;
}
.perfil .experincia:hover > .icon-user > .lvl {
  background: linear-gradient(to top, rgb(175, 134.0725806452, 0) 50%, rgb(255, 200.5080645161, 22) 100%);
}
.perfil .experincia .icon-user {
  display: flex;
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: rgb(124, 95, 0) 3px solid;
  background: black;
  z-index: 3;
  background-image: url("../assets/icon-user1.png");
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
}
.perfil .experincia .icon-user .lvl {
  display: flex;
  bottom: -27%;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 70%;
  height: 40%;
  z-index: 2;
  background: linear-gradient(to top, rgb(124, 95, 0) 50%, rgb(226, 173.1451612903, 0) 100%);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.perfil .experincia .icon-user .lvl::before {
  content: attr(data-lvl);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: absolute;
  inset: 0;
  z-index: 3;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-color: #08101D;
  width: 85%;
  height: 85%;
  margin: auto;
  color: #DDCB9F;
}
.perfil .info-perfil {
  display: block;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #DDCB9F;
}
.perfil .info-perfil .usuario {
  font-weight: bold;
  font-size: larger;
}
.perfil .info-perfil .cambiar-estado {
  position: absolute;
  opacity: 0;
  width: fit-content;
  height: fit-content;
  background-color: #08101D;
  border: 2px solid #7a5400;
  padding: 3px;
  top: 80px;
  right: 130px;
}
.perfil .info-perfil .en-linea {
  color: rgb(0, 158, 13);
  cursor: pointer;
}
.perfil .info-perfil .en-linea i {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: rgb(0, 75, 6);
  border-radius: 50%;
  margin-right: 5px;
  border: 2px solid rgb(0, 158, 13);
}
.perfil .info-perfil .en-linea:hover ~ .cambiar-estado {
  transition: opacity 0.4s;
  opacity: 1;
}
.perfil .info-perfil .ausente {
  cursor: pointer;
}
.perfil .info-perfil .ausente i {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: rgb(100, 0, 0);
  border-radius: 50%;
  margin-right: 5px;
  border: 2px solid rgb(197, 1, 1);
}
.perfil .info-perfil .ausente:hover ~ .cambiar-estado {
  transition: opacity 0.4s;
  opacity: 1;
}
.perfil .info-perfil .en-cola {
  color: #3fe3f8;
  cursor: pointer;
}
.perfil .info-perfil .en-cola i {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: rgb(0, 87, 94);
  border-radius: 50%;
  margin-right: 5px;
  border: 2px solid rgb(0, 197, 211);
}
.perfil .info-perfil .en-cola:hover ~ .cambiar-estado {
  transition: opacity 0.4s;
  opacity: 1;
}
.perfil .info-perfil .partida-casual {
  color: rgb(0, 158, 13);
  cursor: pointer;
}
.perfil .info-perfil .partida-casual i {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: rgb(0, 75, 6);
  border-radius: 50%;
  margin-right: 5px;
  border: 2px solid rgb(0, 158, 13);
}
.perfil .info-perfil .partida-casual:hover ~ .cambiar-estado {
  transition: opacity 0.4s;
  opacity: 1;
}
.perfil .info-perfil .cambiar-active {
  position: absolute;
  opacity: 0;
  width: fit-content;
  height: fit-content;
  background-color: #08101D;
  border: 2px solid #7a5400;
  padding: 3px;
  top: 20px;
  right: 15px;
}
.perfil .info-perfil .notificaciones {
  position: absolute;
  right: 15px;
  top: 60%;
  font-size: x-large;
  color: rgba(192, 192, 192, 0.4235294118);
  cursor: pointer;
}
.perfil .info-perfil .notificaciones:hover ~ .cambiar-active {
  transition: opacity 0.4s;
  opacity: 1;
}
.perfil .info-perfil .notificaciones.active {
  position: absolute;
  right: 15px;
  top: 60%;
  font-size: x-large;
  color: #DDCB9F;
}
.perfil .info-perfil .notificaciones.active::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(221, 181, 0);
  border: 4px solid #08101D;
  border-radius: 50%;
  top: -5px;
  right: -5px;
}

/* Main Aside  */
main {
  display: flex;
  justify-content: flex-end;
}

aside {
  background-color: #08101D;
  margin: 0;
  height: 100%;
  width: 350px;
  border-left: 1px solid #333;
}
aside p {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: medium;
  font-weight: bold;
}
aside div {
  display: flex;
  background-color: #08101D;
  width: 90%;
  height: 70px;
  margin: 1px;
}
aside .icon {
  border: rgba(161, 138, 5, 0.959) 3px solid;
  border-radius: 100%;
  margin: 10px;
}
aside span {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  font-weight: bold;
}
aside .status {
  margin-top: 10px;
  color: rgb(5, 186, 192);
  font-weight: normal;
}

/*# sourceMappingURL=style.css.map */
