// 🎨 Variables
$primary-color: #3fe3f8;
$dark-bg: #08101D;
$color-borde: #7a5400;
$light-text: #fff1b4;
$hover-text: #fffbe8;
$font-main: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

// -------------------- NAV --------------------
body{
  margin: 0;
  padding: 0;
}

nav {
  background-color: $dark-bg;
  padding: 0%;
  display: inline-flex;
  width: 100%;
  border-top: 2px solid $color-borde;
  align-items: center;
  box-sizing: border-box;
  gap: 20px;

  .barra-nav {
    font-size: 18px;
    font-weight: 700;
    font-family: $font-main;
    color: $light-text;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: $dark-bg;
    padding: 0 13px 0 13px;
    cursor: pointer;
  }

  & span {
    &:hover {
      color: $hover-text;
      background: linear-gradient(180deg, $dark-bg 50%, $light-text 110%);
    }
  }
  .selected {
    color: $hover-text;
    background: linear-gradient(180deg, $dark-bg 50%, $light-text 110%);
  }

  .lista-nav {
    display: flex;
    height: 100px;
  }
}

// -------------------- BOTÓN JUGAR --------------------
.play-button {
  background-color: #343c42;
  color: #ffffff;
  padding: 8px 45px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  font-family: $font-main;
  border: none;
  clip-path: polygon(0% 20%, 0 0, 84% 0%, 98% 50%, 84% 100%, 0 100%, 0% 80%);


}

.dentro {
  position: relative;
  background: linear-gradient(to bottom, $primary-color 20%, #10d6f0 50%, #0b8a9b);
  clip-path: polygon(0% 20%, 0 0, 84% 0%, 100% 50%, 84% 100%, 0 100%, 0% 80%);
  padding: 3px;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg,
        rgba($primary-color, 0.2) 0%,
        rgb(163, 250, 253) 50%,
        rgba($primary-color, 0.2) 100%);
    opacity: 0;
    pointer-events: none;
    z-index: 0;
    background-size: 200% 100%;
    background-position: -100% 0;
  }

  &:hover::before {
    opacity: 1;
    animation: brillo-move 1.2s linear infinite;
  }

  &:hover~.borde-dificil {
    animation: box-shadow 1.2s linear infinite;
  }
}

@keyframes brillo-move {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

.bordes {
  display: flex;
  margin-left: 5%;
  border: solid 1px #856f0cc5;
  position: relative;
  padding: 3px;
  width: fit-content;
  background-color: $dark-bg;
  z-index: 1;

  .borde-dificil {
    position: absolute;
    left: -7%;
    top: 4%;
    width: 25%;
    height: 91%;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 3.5px 0px $primary-color;
    background-color: $dark-bg;
    clip-path: inset(0 -10% 0 30%);
  }

  #logo {
    position: absolute;
    z-index: 2;
    top: -7.7px;
    left: -21%;
  }

  .borde-dentro {
    position: relative;
    width: 100%;
    z-index: 0;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border: 3px solid #155d66ce;
      pointer-events: none;
      z-index: 0;
    }
  }
}

@keyframes box-shadow {
  0% {
    box-shadow: 3.5px 0px #b7ebf1;
  }

  100% {
    box-shadow: 3.5px 0px $primary-color;
  }
}

// -------------------- BOTÓN INFO --------------------
.inf-system {
  position: relative;
  border: 6px double $dark-bg;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-left: 2%;
  background-color: darken($primary-color, 10%);
  font-size: large;
  font-weight: 800;
  font-family: $font-main;
  color: aliceblue;
  cursor: pointer;
  z-index: 1;

  &:hover {
    box-shadow: inset 0 2px 8px #b6f0ff;
  }
    &::before{
    content: "";
    position: absolute;
    background: linear-gradient(180deg, rgba(8, 16, 29, 0) 45%, $dark-bg 100%);
    width: 150%;
    height: 150%;
    z-index: 2;
    top: -25%; left: -25%;
    border-radius: 50%;
      
  }
}
      




/* Main Aside  */

main {
  display: flex;
  justify-content: flex-end;
}

aside {
  background-color: #08101D;
  margin: 0;
  height:100%;
  width: 350px;

  p{
    color: white;
    font-family: $font-main;
    font-size: medium;
    font-weight: bold;
  }
  div {
    display: flex;
    background-color:#08101D;
    width: 90%;
    height: 70px;
    margin: 1px;
    
  }

  .icon {
    border: rgba(161, 138, 5, 0.959) 3px solid;
    border-radius: 100%;
    margin: 10px;
  }

  span {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-weight: bold;
  }

  .status {
    margin-top: 10px;
    color: rgb(5, 186, 192);
    font-weight: normal;
  }
}

